#num1 {
  width: 30%;
}
#num2 {
  width: 30%;
}

#ope {
  width: 10%;
  height: 36px;
}

#ope, input {
  height: 50px;
  border: 1px solid #adadad;
  border-radius: 8px;
  outline: none;
  padding: 0 10px;
  line-height: 18px;
}

#ope:focus, input:focus {
      box-shadow:0 0 0 2px LightBlue; 
      }
